<div class="container well margin-top-20 small-container">
  <div>
    <a href="#/wines"><< Go Back</a>
  </div>
  <div class="margin-top-20">
  <input type="text" class="form-control" ng-model="wine.name" />
  </div>
  <div class="bold margin-top-20">Year</div>
  <div class="margin-top-20">
    <input type="text" class="form-control" ng-model="wine.year" />
  </div>
  <div class="bold margin-top-20">Grapes</div>
  <div class="margin-top-20">
    <input type="text" class="form-control" ng-model="wine.grapes" />
  </div>
  <div class="bold margin-top-20">Region</div>
  <div class="margin-top-20">
    <input type="text" class="form-control" ng-model="wine.region" />
  </div>
  <div class="bold margin-top-20">Price</div>
  <div class="margin-top-20">
    <input type="text" class="form-control" ng-model="wine.price" />
  </div>
  <div class="bold margin-top-20">Image</div>
  <div class="margin-top-20">
    <input type="text" class="form-control" ng-model="wine.picture" />
  </div>
  <div class="bold margin-top-20">Description</div>
  <div class="margin-top-20">
    <textarea class="form-control" ng-model="wine.description" >{{wine.description}}</textarea>
  </div>
  <div class="margin-top-20">
    <a href="/" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-success" ng-click="editWine()">Submit Edits</button>
  </div>
</div>
