 <div class="container">
    <div class="margin-top-20">
      <a href="/wines" data-toggle="modal" data-target="#add-wine-modal" class="btn btn-primary">Add a new Wine</a>
    </div>
    <div>
      <input type="text" class="form-control" ng-model="wineSearch"/>
    </div>

    <div class="animate spin-toggle row margin-top-20 wine-items" ng-repeat="wine in wines | filter:wineSearch">
      <div class="col-sm-3">
        <img ng-src="{{wine.picture}}" class="img-responsive" alt="wine bottle image">
      </div>
      <div class="col-md-9">
        <div class="margin-top-20">
          <span class="bold">Name: </span><span class="item-info">{{wine.name}}</span>
        </div>
        <div>
          <span class="bold">Year: </span><span class="item-info">{{wine.year}}</span>
        </div>
        <div>
          <span class="bold">Grapes: </span><span class="item-info">{{wine.grapes}}</span>
        </div>
        <div>
          <span class="bold">Country: </span><span class="item-info">{{wine.country}}</span>
        </div>
        <div>
          <span class="bold">Grapes: </span><span class="item-info">{{wine.country}}</span>
        </div>
        <div>
          <span class="bold">Region: </span><span class="item-info">{{wine.region}}</span>
        </div>
        <div>
          <span class="bold">Price: </span><span class="item-info">{{wine.price}}</span>
        </div>
        <div>
          <span class="bold">Description: </span><span class="item-info">{{wine.description}}</span>
        </div>
        <div class="margin-top-20">
          <a href="#/edit/{{wine.id}}"  class="btn btn default">Edit Wine</a> 
        </div>

      </div><!-- end of col-md-9 -->
    </div><!-- end of row -->
    <!-- hidden modal div -->
    <div class="modal fade" id="add-wine-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div><!--end modal header -->
          <div class="modal-body">
            <div class="bold">Name</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.name"/>
            </div>
            <div class="bold margin-top-20">Year</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.year"/>
            </div>
            <div class="bold margin-top-20">Grapes</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.grapes"/>
            </div>
            <div class="bold margin-top-20">Region</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.region"/>
            </div>
            <div class="bold margin-top-20">Price</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.price"/>
            </div>
            <div class="bold margin-top-20">Image</div>
            <div class="margin-top-20">
              <input type="text" class="form-control" ng-model="wine.image"/>
            </div>
            <div class="bold margin-top-20">Description</div>
            <div class="margin-top-20">
              <textarea class="form-control" ng-model="wine.description"></textarea>
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveWine()">Save Wine</button>
      </div>
        </div>
      </div>
    </div>

  </div><!-- end of container -->